import * as React from "react"
import { StyleProp, TextStyle, View, ViewStyle } from "react-native"
import { observer } from "mobx-react-lite"
import { color, typography } from "../../theme"


/**
 * Describe your component here
 */
export const <%= props.pascalCaseName %> = observer(function <%= props.pascalCaseName %>(props) {

  return (
    <View>
      <Text>Hello</Text>
    </View>
  )
})
